
.borda-professor {
    display: flex;
    background-color:white;
}

.borda-geral-professores    {
    background-color: #28a4eb65;
    border-radius: 20px;
    margin: 50px auto 50px;
    border: 2px solid black;
    width: 1000px;
}

.topo-professor   {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.topo-tabela-professor    {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 800px;
    margin-bottom: 30px;
    margin: 50px;
}

.corpo-professor  {
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    margin: 0 auto 10px;
    background-color: rgba(10, 27, 25, 0.7);
    width: 800px;
    flex-direction: column;
}

.classprofessor    {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.botao-professor  {
    display: inline;
    float: right;
}