.divdepart  {
    display: flex;
    background-color: white;
}

.borda-geral-departamento   {
    background-color: #28a4eb65;
    border-radius: 20px;
    margin: 50px auto 50px;
    border: 2px solid black;
    width: 1000px;
}
.topo-departamento  {
    text-align: center;
    font-size: 32px;
}

.sub-departamento   {
    margin: 50px;
}

.form-departamento  {
    margin:50px;
}

.form-departamento input {
    width: 800px;
}


.form-footer    {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.form-footer  select  {
    width: 300px;
}
.footer-departamento    {
    margin:50px;
    text-align: center;
}

.botao-departamento {
    display: block;
    margin: 0 auto;
    width: 100px;
    width: 100px;
    background-color: rgba(9, 4, 64, 0.9);
    color: white;
}