#pag-log   {
    background-color: rgba(50, 184, 160, 0.6);
    display:flex;
    justify-content: space-between;
    margin:auto;
    margin-top: 30px;
    width: 900px;
    text-align: justify;
}

.idUFF  {
    font-size: 72px;
}

.sub-uff    {
    margin: 30px;
    font-size: 30px;
}

.UFF  {
    margin: 30px;
    font-size: 90px;
    text-align: justify;
    margin-top: 30px;
}

.Acesse {
    font-size: 40px;
    margin-top: 50px;
}

.form1 #cpf {
    text-align: center;
    width: 400px;
    border: 2px solid black;
}

.form1  #senha  {
    text-align: center;
    width: 400px;
    border: 2px solid black;
}


#formulario  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form1  {
    font-size: 20px;
    text-align: center;
}

#id {
    width: 450px;
}
.moldura    {
    background-color: rgba(64, 132, 153, 0.29);
    display: flex;
    flex-direction: column;
    padding: 2px;
    text-align: center;
    width: 500px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.texto  {
    margin: 30px;
    text-align: justify;
    font-size: 20px;
}

.botao-login    {
    width: 100px;
    margin-top: 50px;
    border: 2px solid black;
}