.borda-materias {
    display: flex;
    background-color: white;
}

.topo-materias  {
    text-align: center;
    font-size: 32px;
}

.form-nome-materias {
    margin: 50px;
}

.form-nome-materias #nome   {
    width: 800px;
}

.form-materias  {
    margin:50px;
    display: flex;
    justify-content: space-between;
    width: 90%;

}

.form-materias #area {
    width: 500px;
}

.form-adicionar {
    margin:50px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.form-adicionar select {
    width: 300px;
}

.form-adicionar input{
    width: 200%;
}

.requisitos-materias    {
    margin:50px;
}

.tabela-materias    {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(10, 29, 25, 0.7);
    color:white
}

.botao-materias-excluir {
    background-color: #000000;
    color: white;
}

.botao-materias {
    display: block;
    margin: 0 auto;
    width: 100px;
    background-color: rgba(9, 4, 64, 0.9);
}

.botao-adicionar-materias   {
    background-color: #000000;
    color: white;
}