.bordas-letivo  {
    display: flex;
    background-color: white;
}

.borda-geral-periodo    {
    background-color: #28a4eb65;
    border-radius: 20px;
    margin: 50px auto 50px;
    border: 2px solid black;
    width: 1000px;
}

.topo-letivo    {
    text-align: center;
    font-size: 32px;
}

.cabecalho-letivo   {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.cabecalho-letivo   input   {
    background-color: rgba(9, 4, 64, 0.9);
    color: white;
}

.materias-letivo    {
    margin:50px;
    display: flex;
    justify-content: space-between;
}

.materias-letivo input  {
    background-color: rgba(9, 4, 64, 0.9);
    color: white;
}

.botao-editar-periodo   {
    background-color: black;
    color: white;
}

.materias-letivo  button {
    float: right;
}

.corpo-letivo   {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    width: 680px;
}

.materias-anoletivo    {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    width: 1010px;
    background-color: rgba(10, 29, 25, 0.7);
    color: white;
    width: 900px;
}
