.borda-turmaadd {
    display: flex;
    background-color: white;
}

.borda-geral-turmas-add   {
    background-color: #28a4eb65;
    border-radius: 20px;
    margin: 50px auto 50px;
    border: 2px solid black;
}

.topo-turmasadd {
    text-align: center;
    font-size: 32px;
}

.sub-turmasadd  {
    margin: 50px;
}

.form-turmasadd {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.form-turmasadd #Nome {
    width: 400px;
}

.form-turmasadd #sala    {
    width: 400px;
}

.calendario-turmasadd   {
    margin: 50px;
}

.calendario-turmasadd #Calendario  {
    width: 400px;
}
.materia-turmasadd  {
    margin:50px;
}

.professor-turmaadd {
    margin: 50px;
}

.calendario-turmasadd   {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.calendario-turmasadd #Materia  {
    width: 400px;
}

.professor-turmaadd #Professor {
    width: 400px;
}

.botao-turmasadd-salvar {
    display: block;
    margin:0 auto;
    width: 100px;
    background-color: rgba(9, 4, 64, 0.9);
    color: white;
}