.borda-historico {
    display: flex;
    background-color: white;
}

.borda-geral-historico  {
    background-color: #28a4eb65;
    border-radius: 20px;
    margin: 50px auto 50px;
    border: 2px solid black;
}

.topo-historico   {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.topo-tabela-historico    {
    margin: 50px;
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    margin: 0 50px;
    width: 800px;
    margin-bottom: 30px;
}

.corpo-historico  {
    display: flex;
    max-width: 1000px;
    text-align: center;
    justify-content: space-between;
    margin: 0 50px 10px;
    background-color: rgba(10, 27, 25, 0.7);
    color: white;
}
