.borda-coordenador  {
    display: flex;
    background-color: white;
}

.borda-geral-coordenadores  {
    background-color: #28a4eb65;
    border-radius: 20px;
    margin: 50px auto 50px;
    border: 2px solid black;
    width: 1000px;
}

.topo-coordenador   {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.topo-tabela-coordenador    {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 900px;
}

.corpo-coordenador  {
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    margin: 0 auto;
    background-color: rgba(10, 27, 25, 0.7);
    flex-direction: column;
    color: white;
}

.botao-coordenador  {
    display: inline;
    float: right;
}

.classCoordenador   {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nome-coord {
    width: 60px;
    white-space: nowrap;
}

.bloco-rg   {
    width: 100px;
}