.borda-adicionar-materias {
    display: flex;
    background-color: white;
}

.borda-geral-adicionar-materias {
    background-color: #28a4eb65;
    border-radius: 20px;
    margin: 50px auto 50px;
    border: 2px solid black;
    width: 1000px;
}

.adicionar-materias {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.nome-materias-adicionar    {
    margin: 50px;
}

.nome-materias-adicionar #nome  {
    width: 500px;
}

.form-materias-adicionar    {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.pre-requisito  {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.pre-requisito  #pre    {
    width: 200px;
}

.botao-adicionar-materias   {
    margin-top: 17px;
    background-color: rgba(9, 4, 64, 0.9);
    color: white;
}

.top-tabela-materias-adicionar  {
    margin: 50px;
}

.tabela-adicionar-materias  {
    margin:50px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(10, 27, 25, 0.7);
    color: white;
}

.botao-excluir-materias {
    background-color: black;
    color: white;
}