.sobre-curriculo   {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.borda-curriculo    {
    display: flex;
    background-color:white;
    

}

.borda-geral-curriculos {
    margin: 50px auto 50px;
    border: 2px solid black;
    width: 1000px;
    background-color: #28a4eb65;
    border-radius: 20px;
}

.corpo-curriculo    {
    margin: 50px;
}

.corpo-curriculo select   {
    width: 200px;
    background-color: rgba(10, 29, 25, 0.2);
}


.titulo-curriculo   {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    margin-bottom: 30px;
}

.tabela-curriculo   {
    display: flex;
    max-width: 1000px;
    text-align: center;
    justify-content: space-between;
    margin:0 50px 10px;
    background-color: rgba(10, 29, 25, 0.7);
    width: 900px;
}

.tabela-curriculo select    {
    height: 20px;
}