.borda-coord-edicao {
    display: flex;
    background-color: white;
}

.borda-geral-coordenadores-edicao   {
    background-color: #28a4eb65;
    border-radius: 20px;
    margin: 50px auto 50px;
    border: 2px solid black;
    width: 1000px;
}

.topo-coord-edicao  {
    margin: 50px;
    text-align: center;
    font-size: 32px;
}

.select-coord   {
    margin: 50px;
}

.select-coord select   {
    width: 800px;
}

.form-coordenador-edicao  {
    margin: 50px;
}

.form-coordenador-edicao #nome1 {
    width: 800px;
}

.form-coordenador1-edicao   {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px;
}

.form-coordenador1-edicao select  {
    width: 400px;
}

.form-coordenador1-edicao #RG {
    width: 400px;
}

.form-coordenador1-edicao #Nascimento  {
    width: 400px;
}

.form-coordenador1-edicao #Matricula  {
    width: 400px;
}

.form-coordenador1-edicao #Senha  {
    width: 400px;
}

.form-coordenador1-edicao #cpf  {
    width: 400px;
}

.botao-coord-salvar {
    display: block;
    margin: 0 auto;
    width: 100px;
    background-color: rgba(9, 4, 64, 0.9);
    color: white;
}