.borda-perfil   {
    display: flex;
    background-color: white;
}

.borda-geral-perfil {
    background-color: #28a4eb65;
    border-radius: 20px;
    margin: 50px auto 50px;
    border: 2px solid black;
    width: 1000px;
}

.topo-perfil    {
    text-align: center;
    font-size: 32px;
}

.sub-perfil {
    margin: 50px;
}

.nome-perfil    {
    margin:50px;
    align-items: left;
}

.input-perfil   {
    width: 500px;
}
.nacionalidade-perfil  {
    margin:50px;
}

 .form-perfil   {
    display: flex;
    margin: 50px;
    justify-content: space-between;
 }

 .form-perfil input{
     width: 200px;
 }

 .form-perfil   #rua    {
     margin-top: 17px;
 }

 .form-perfil #label-rua    {
     margin-top: 17px;
 }

 .botao-edicao  {
     display: block;
     margin:0 auto;
     width: 150px;
     background-color: rgba(9, 4, 64, 0.9);
     color: white;
 }

 .footer-form-perfil    {
    display: flex;
    margin: 50px;
    justify-content: space-between;
 }

 .botao-edicao-senha    {
    display: block;
    margin:0 auto;
    width: 150px;
    margin-top: 17px;
    background-color: black;
    color: white;
 }