.borda-turmas   {
    display: flex;
    background-color: white;
    padding-bottom: 50px;
}

.borda-geral-turmas {
    background-color: #28a4eb65;
    border-radius: 20px;
    margin: 50px auto 50px;
    border: 2px solid black;
}

.topo-turmas    {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.topo-tabela    {
    display: flex;
    max-width: 750px;
    justify-content: space-between;
    width: 1000px;
    margin-bottom: 30px;
    margin: 50px;
}

.tabela-turmas  {
    display: flex;
    max-width: 1000px;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto 10px;
    background-color: rgba(10, 29, 25, 0.7);
    color: white;
    width: 2000px;
    margin: 50px;
}

.cargo  {
    margin-bottom: 30px;
    margin: 50px;
}

.botao-gerenciar-turmas {
    background-color: black;
    color: white;
}