.gerencia   {
    display: flex;
    background-color: white;
}

.borda-gerencia-total   {
    background-color: #28a4eb65;
    border-radius: 20px;
    margin: 50px auto 50px;
    border: 2px solid black;
}

.nometurmas {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.nomemateria    {
    margin:50px;
    font-size: 20px;
    margin-bottom: 30px;
}

.codigo {
    margin:50px;
    font-size: 20px;
}

.notas  {
    display: flex;
    max-width: 1000px;
    text-align: center;
    justify-content: space-between;
    margin: 0 50px;
    background-color: rgba(10, 29, 25, 0.72);
    width: 2000px;
}

.professorcalendario    {
    margin: 50px;
}

.lancamento {
    margin: 50px;
}

.botao-enviar-gereciar  {
    background-color: black;
    color: white;
}