.borda-inscricao  {
    display: flex;
    background-color: white;
}

.borda-geral-materias   {
    background-color: #28a4eb65;
    border-radius: 20px;
    margin: 50px auto 50px;
    border: 2px solid black;
}

.topo-inscricao   {
    text-align: center;
    font-size: 32px;
}

.topo-tabela-inscricao    {
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin: 50px;
}

.corpo-inscricao  {
    display: flex;
    max-width: 1000px;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto 10px;
    margin: 50px;
    background-color: rgba(10, 29, 25, 0.7);
    color: white;
}

.botao-inscrever    {
    background-color: black;
    color: white;
}
