.bordas-turma-total {
    display: flex;
    background-color: white;
}

.borda-geral-turma-total    {
    background-color: #28a4eb65;
    border-radius: 20px;
    margin: 50px auto 50px;
    border: 2px solid black;
}

.topo-turmas-total  {
    text-align: center;
    font-size: 32px;
}

.periodo-letivo {
    margin: 50px;
}

.Calculo    {
    margin: 50px;
}

.topo-tabela-turmas {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.horario-turmas     {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #c0c0c0;
    width: 1000px;
    background-color: rgba(10, 29, 25, 0.7);
    color: white;
}

.botao-turmas-total {
    display: inline;
    float: right;
}