.borda-professoresedit-edicao {
    display: flex;
    background-color: white;
}

.borda-geral-professor-edicao   {
    background-color: #28a4eb65;
    border-radius: 20px;
    margin: 50px auto 50px;
    border: 2px solid black;
    width: 1000px;
}

.botao-professoresedit-alunos    {
    display: block;
    float: right;
}

.topo-professoresedit-edicao  {
    margin: 50px;
    text-align: center;
    font-size: 32px;
}

.curso-professoresedit  {
    margin: 50px;
}

.select-professoresedit   {
    margin: 50px;
}

.select-professoresedit select   {
    width: 800px;
}

.form-professoresedit-edicao  {
    margin: 50px;
}

.form-professoresedit-edicao #nome1 {
    width: 800px;
}

.form-professoresedit-edicao   {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px;
}

.form-professoresedit-edicao select  {
    width: 400px;
}

.form-professoresedit-edicao #RG {
    width: 400px;
}

.form-professoresedit-edicao #Nascimento  {
    width: 400px;
}

.form-professoresedit-edicao #Matricula  {
    width: 400px;
}

.form-professoresedit-edicao #Senha  {
    width: 400px;
}

.form-professoresedit-edicao #cpf  {
    width: 400px;
}

.botao-professoresedit-salvar {
    display: block;
    margin: 0 auto;
    width: 100px;
    background-color: rgba(9, 4, 64, 0.9);
    color: white;
}

.select-materia {
    margin:50px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.select-materia select{
    width: 300px;
}

.botao-professoresedit-adicionar   {
    width: 100px;
    background-color: rgba(9, 4, 64, 0.9);
    color: white;
}

.form2-professores  {
    margin:50px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(10, 29, 25, 0.7);
    color: white;
}

.botao-professores-salvar   {
    display: block;
    margin:0 auto;
    width: 100px;
}

.botao-professores-excluir    {
    background-color: black;
    color: white;
}