.sobre {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.borda-geral-alunos {
    background-color: #ACD5D1;
    margin: 50px auto 50px;
    border: 2px solid black;
    width: 1000px;
}

.botao-alunos   {
    display: inline;
    float: right;
}

.topo-alunos  {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 900px;
    margin-bottom: 30px;
}

.corpo-alunos  {
    display: flex;
    max-width: 1000px;
    text-align: center;
    justify-content: space-between;
    margin: 0 50px 10px;
    background-color: rgba(10, 27, 25, 0.7);
    width: 900px;
    flex-direction: column;
}

.borda-alunos  {
    display: flex;
    background-color: white;

}

.classAlunos    {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}