.topo-barra {
    background-color: #57B4AD;
    width: 200px;
    border: 2px black;
}

a   {
    text-decoration: none;
    color: black;
}

.navegacao-menu    {
    background-color: #ACD5D1;
    margin-top: 16px;
}

.navegacao-menu {
    text-align: justify;
    padding-bottom: 250px;
}

.tag-tp  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.tag-p {
    padding-bottom: 30px;
}
.botao-editar   {
    display: block;
    margin: 0 auto;
    width: 100px;
}

section nav {
    text-align: justify;
}

