.borda-curso  {
    background-color: white;
    display: flex;

}

.div-borda-geral    {
    background-color: #28a4eb65;
    border-radius: 20px;
    margin: 50px auto 50px;
    border: 2px solid black;
    width: 900px;
    margin-left: 80px;
}
.topo-curso  {
    text-align: center;
    font-size: 32px;
}

.sub-curso   {
    margin: 50px;
}

.form-curso  {
    margin:50px;
}

.form-curso input {
    width: 800px;
}


.form-footer-curso    {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.form-footer-curso  select  {
    width: 300px;
}
.footer-curso    {
    margin:50px;
    text-align: center;
}

.botao-curso {
    display: block;
    margin: 0 auto;
    width: 100px;
    background-color: rgba(9, 4, 64, 0.9);
    color: white;
}
