.borda-alunos-edicao {
    display: flex;
    background-color: white;
}

.borda-geral-alunos-edicao  {
    margin: 50px auto 50px;
    border: 2px solid black;
    width: 1000px;
    background-color: #28a4eb65;
    border-radius: 20px;
}

.botao-edicao-alunos    {
    display: inline;
    float: right
}

.topo-alunos-edicao  {
    margin: 50px;
    text-align: center;
    font-size: 32px;
}

.curso-alunos   {
    margin: 50px;
}

.select-alunos   {
    margin: 50px;
}

.select-alunos select   {
    width: 800px;
}

.form-alunos-edicao  {
    margin: 50px;
}

.form-alunos-edicao #nome1 {
    width: 800px;
}

.form-alunos1-edicao   {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px;
}

.form-alunos1-edicao select  {
    width: 400px;
}

.form-alunos1-edicao #RG {
    width: 400px;
}

.form-alunos1-edicao #Nascimento  {
    width: 400px;
}

.form-alunos1-edicao #Matricula  {
    width: 400px;
}

.form-alunos1-edicao #Senha  {
    width: 400px;
}

.form-alunos1-edicao #cpf  {
    width: 400px;
}

.botao-alunos-salvar {
    display: block;
    margin: 0 auto;
    width: 100px;
    background-color: rgba(9, 4, 64, 0.9);
    color: white;
}


